In [11]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('diabetes.csv') #using Pandas to read file

In [3]:
print(df)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

In [4]:
#count the number of NaN values in each column
print(df.isnull().sum())

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [5]:
cols = list(df.columns)

num_cols = df._get_numeric_data().columns
categorical_columns = df['Outcome'].name
print("Categorical Columns")
print("--------------------")
print(categorical_columns)
#num_cols = list(set(cols) - set(categorical_columns))
cols.remove(categorical_columns)
num_cols = list(cols)
print("\n\nNumeric Columns")
print("--------------------")
for x in num_cols:
    print(x)
print("\n")

Categorical Columns
--------------------
Outcome


Numeric Columns
--------------------
Pregnancies
Glucose
BloodPressure
SkinThickness
Insulin
BMI
DiabetesPedigreeFunction
Age

In [6]:
categorical_columns

'Outcome'

### Now treating Numeric Columns and Categorical Columns

#### Preprocessing Numeric Columns

In [7]:
#Replacing with mean value

In [8]:
for x in list(num_cols):
    df[x]=df[x].replace(0,round(df[x].mean()))

In [9]:
df.to_csv("preprocessed_data.csv",index=False)

In [10]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,80,33.6,0.627,50,1
1,1,85,66,29,80,26.6,0.351,31,0
2,8,183,64,21,80,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,4,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,80,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,21,80,30.1,0.349,47,1
767,1,93,70,31,80,30.4,0.315,23,0